/*  your css code here. If applicable */
.main {
    background-color: #f5f5f5;
    padding: 20px;
}

.testimonials {
    background-color: white;
    justify-content: space-betwwen;
    padding: 8px;
    margin: 10px;
    font-size: 10px;
}

.signature {
    text-align: right;
	font-style: italic;
}